<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">

<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- contenido -->
	<div class="container">
		<div class="card-deck py-4">
				<div class="card" th:each="publicacion: ${publicaciones}">
					<a th:href="@{/publicaciones/} + ${@slug.makeSlug(publicacion.localidad.municipio.estado.nombre)} + '/'
							+ ${@slug.makeSlug(publicacion.localidad.municipio.nombre)} + '/'
							+ ${@slug.makeSlug(publicacion.categoria.nombre)} + '/'
							+ ${@slug.makeSlug(publicacion.titulo)} + '-id-' + ${publicacion.id}"><img class="card-img-top" src="images/Spring.png" alt="Card image cap"></a>
						<div class="card-body">
							<h5 class="card-title" th:text="${publicacion.titulo}">Samsung Galaxy s4</h5>
							<p class="card-text" th:text="${publicacion.detalles}">This is no longer a card with supporting text below</p>
							<p class="card-text"><small class="text-muted" th:text="${@timeAgo.toDuration(publicacion.createdAt)}">Last update 3 mins ago</small></p>
							<p class="card-text"><small class="text-muted" th:text="
										${publicacion.localidad.nombre + ', ' 
										+ publicacion.localidad.municipio.nombre + ', '
										+ publicacion.localidad.municipio.estado.nombre}">Location</small></p>
						</div>
				</div>
		</div>
	</div>
	<!-- fin contenido -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>